* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.container {

}

.top-section-container {

}

.top-section-container::before {
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    bottom: -10;
    left: -50%;
    height: 70%;
    width: 200%;
    background-color: #24053E;
    z-index: -1;
    resize: none;
}

.bg-pattern-container {
    
}

.bg-left-large {
    position: absolute;
    top: 12%;
    left: -7.5%;
}

.bg-right {
    position: absolute;
    top: 30%;
    right: -2.7%;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
.header-bar img {
    /* margin-left: 5%; */
}
.header-bar button {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    /* margin-right: 5%; */
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #44ffa1;
}
.header-bar button:hover {
    color: #44ffa1;
}

.title-section {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.title-section h1 {
    color: #ffffff;
    font-family: 'Fraunces', serif;
    font-size: 80px;
    width: 40%;
    text-align: center;
}
.title-section u {
    text-decoration-color: #44ffa1;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.button-container button {
    width: 161px;
    height: 61px;
    color: #24053E;
    background-color: #44ffa1;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}
.button-container button:hover {
    color: #44ffa1;
    background-color: transparent;
    border: 2px solid #44ffa1;
}

.phone-container {
    display: flex;
    justify-content: center;
}
.phone-container img {
    height: 441px;
    width: 767px;
}

.outer-cards-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 300px;
    padding-left: 350px;
    padding-right: 350px;
}
.card-container {
    width: 400px;
}
.card-section::before {
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 50%;
    bottom: -10;
    left: -50%;
    height: 70%;
    width: 200%;
    background-color: #fcf8ff;
    z-index: -2;
    resize: none;
}
.card-number-container {
    display: flex;
    justify-content: center;
}
.card-number-container p {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #24053E;
    color: #24053E;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 24px;
}
.card-title-container p {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    margin: 50px 0px 25px 0px;
}
.card-text-container p {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}